.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.button_list {
  width: 100%;
  background: var(--bg-content);
  border-radius: 0.5rem;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  transition: color 0.3s ease;

  &:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  &:hover,
  &:focus {
    color: var(--primary);
  }
}
