.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.75rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.3s ease-in;
  background: var(--btn-color);

  * {
    color: var(--light);
  }

  &[disabled],
  &[data-disabled='true'] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &[data-disabled='true'] {
    pointer-events: none;
  }

  &[data-color='primary'] {
    --btn-color: var(--primary);
    box-shadow: 0 0.5rem 1rem color-mod(var(--primary) alpha(0.2));
    * {
      color: white;
    }
  }

  &[data-color='secondary'] {
    --btn-color: var(--secondary);
    * {
      color: var(--black);
    }
  }

  &[data-color='success'] {
    --btn-color: var(--success);
  }

  &[data-color='danger'] {
    --btn-color: var(--danger);
  }

  &[data-color='warning'] {
    --btn-color: var(--warning);
  }

  &[data-color='info'] {
    --btn-color: var(--info);
  }

  &[data-color='light'] {
    --btn-color: var(--light);
    * {
      color: var(--black);
    }
  }

  &[data-color='dark'] {
    --btn-color: var(--black);
    * {
      color: white;
    }
  }

  &[data-color='gradient'] {
    --btn-color: var(--main-linear-gradient);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70%;
      background: var(--main-linear-gradient);
      opacity: 0.5;
      transition: opacity 0.3s ease, filter 0.3s ease;
      z-index: -1;
      filter: blur(1rem);
    }

    &:hover::after {
      filter: blur(1.5rem);
    }

    &:active::after {
      opacity: 0.2;
    }

    * {
      color: #fff;
    }
  }

  &[data-full-width='true'] {
    width: 100%;
  }

  &[data-border='true'] {
    border: 1px solid var(--btn-color);
    background: transparent;
  }
}

.btn:hover {
  opacity: 0.8;
}
.btn.primary {
  background: var(--primary);
  color: white;
}
.icon,
.iconRight {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  flex-grow: 1;

  &[data-icon='true'] {
    padding-right: 1rem;
  }

  &[data-icon-right='true'] {
    padding-left: 1rem;
  }
}
