.header {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .data {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .username,
    .location {
      height: 14px;
      width: 100px;
      border-radius: 0.5rem;
      background: var(--loader-bg);
    }
  }

  .metrics {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    .metric_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .value {
        display: block;
        height: 14px;
        width: 30px;
        border-radius: 0.5rem;
        background: var(--loader-bg);
      }

      .label {
        font-size: 0.65rem;
        font-weight: 400;
        color: var(--gray-400);
        text-transform: uppercase;
      }
    }
  }
}
