.container {
  width: 100%;

  padding: 0.5rem;
  padding-top: 0;

  @media (min-width: 768px) {
    padding: 1rem;
    padding-top: 0;
  }

  border-bottom: 1px solid var(--gray-200);
}

.logo {
  width: 100%;
  height: var(--header-h);
  display: flex;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: var(--gray-400);
  gap: 1rem;

  &:hover {
    background: var(--bg-content-hover);
    color: var(--gray-500);
  }

  &[data-active='true'] {
    color: var(--primary);
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      left: 0;
      height: 70%;
      width: 0.25rem;
      border-radius: 0 0.5rem 0.5rem 0;
      background: var(--main-linear-gradient);
    }

    &::before {
      filter: blur(0.25rem);
      opacity: 0.5;
    }
  }

  @media (min-width: 768px) {
    padding: 0.75rem 1rem;
  }

  .label {
    font-size: 0.75rem;
    font-weight: 600;
  }
}

.footer {
  width: 100%;
  margin-top: 1.5rem;
}
