.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 50%;
  transition: color 0.2s ease-in-out;
  position: relative;

  &:hover,
  &:focus,
  &:focus-within {
    color: var(--primary);
  }

  input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }
}
