.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-auto-flow: dense;
  position: relative;
  gap: 0.25rem;

  @media (min-width: 768px) {
    gap: 0.5rem;
  }
}
