.header {
  display: flex;
  gap: 1rem;
  align-items: center;
  .back_button {
    background: var(--bg-content);
    height: 2rem;
    color: var(--text);
    border-radius: 0.25rem;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease-in-out;
    &:hover {
      color: var(--primary);
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.avatar_section {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 90%;

  @media (min-width: 768px) {
    width: 100%;
  }

  .data {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    

    .username {
      font-size: 1rem;
      font-weight: 600;
      color: var(--text);
    }

    .location {
      font-size: 0.75rem;
      color: var(--text-muted);
    }
  }

  .label_container {
    position: relative;

    .remove_button {
      position: absolute;
      top: 0;
      right: 0;
      background: var(--bg-content);
      color: var(--danger);
      border-radius: 50%;
      padding: 0.25rem;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        background: var(--danger);
        color: white;
      }
    }
  }

  .avatar_label {
    cursor: pointer;

    &:focus-within,
    &:hover {
      .avatar_overlay {
        opacity: 1;
      }
    }
  }

  .avatar_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    z-index: 1;
    color: white;
  }
  .file_input {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 0;
  }
}

.avatar_section {
  margin-bottom: 1rem;
  display: flex;
}

.grid {
  display: grid;
  gap: 1rem;
  margin-bottom: 0.75rem;
  max-width: 500px;
  width: 90%;
  
  @media (min-width: 768px) {
    width: 100%;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

.submit_label {
  font-size: 14px;
  font-weight: 500;
}
