.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background: var(--bg-content);
  position: fixed;
  bottom: 0;
  padding: 0.5rem 1rem;
  height: var(--navbar-mobile-h);
  z-index: var(--header-z-index);

  @media (min-width: 768px) {
    display: none;
  }
}
