.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .image {
    width: 90%;
    aspect-ratio: 1/1;
    max-width: 400px;
  }

  .title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
}
