:root {
  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;
  --cerise-50: #fff1f2;
  --cerise-100: #ffe4e6;
  --cerise-200: #fecdd3;
  --cerise-300: #fda4af;
  --cerise-400: #fb7185;
  --cerise-500: #f43f5e;
  --cerise-600: #e11d48;
  --cerise-700: #be123c;
  --cerise-800: #9f1239;
  --cerise-900: #881337;
  --pink-50: #fdf4ff;
  --pink-100: #fae8ff;
  --pink-200: #f5d0fe;
  --pink-300: #f0abfc;
  --pink-400: #e879f9;
  --pink-500: #d946ef;
  --pink-600: #c026d3;
  --pink-700: #a21caf;
  --pink-800: #86198f;
  --pink-900: #701a75;
  --purple-50: #faf5ff;
  --purple-100: #f3e8ff;
  --purple-200: #e9d5ff;
  --purple-300: #d8b4fe;
  --purple-400: #c084fc;
  --purple-500: #a855f7;
  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;
  --indigo-50: #f5f3ff;
  --indigo-100: #ede9fe;
  --indigo-200: #ddd6fe;
  --indigo-300: #c4b5fd;
  --indigo-400: #a78bfa;
  --indigo-500: #8b5cf6;
  --indigo-600: #7c3aed;
  --indigo-700: #6d28d9;
  --indigo-800: #5b21b6;
  --indigo-900: #4c1d95;
  --blue-50: #eef2ff;
  --blue-100: #e0e7ff;
  --blue-200: #c7d2fe;
  --blue-300: #a5b4fc;
  --blue-400: #818cf8;
  --blue-500: #6366f1;
  --blue-600: #4f46e5;
  --blue-700: #4338ca;
  --blue-800: #3730a3;
  --blue-900: #312e81;
  --azure-50: #ecfeff;
  --azure-100: #cffafe;
  --azure-200: #a5f3fc;
  --azure-300: #67e8f9;
  --azure-400: #22d3ee;
  --azure-500: #06b6d4;
  --azure-600: #0891b2;
  --azure-700: #0e7490;
  --azure-800: #155e75;
  --azure-900: #164e63;
  --teal-50: #effdfd;
  --teal-100: #d2f7f9;
  --teal-200: #aaf0f4;
  --teal-300: #76e4ec;
  --teal-400: #39d0dd;
  --teal-500: #14b4c6;
  --teal-600: #0892a2;
  --teal-700: #097684;
  --teal-800: #0b5e6b;
  --teal-900: #0d4f5a;
  --island-50: #f0fdfa;
  --island-100: #ccfbf1;
  --island-200: #99f6e4;
  --island-300: #5eead4;
  --island-400: #2dd4bf;
  --island-500: #14b8a6;
  --island-600: #0d9488;
  --island-700: #0f766e;
  --island-800: #115e59;
  --island-900: #134e4a;
  --submarine-50: #ecfdf5;
  --submarine-100: #d1fae5;
  --submarine-200: #a7f3d0;
  --submarine-300: #6ee7b7;
  --submarine-400: #34d399;
  --submarine-500: #10b981;
  --submarine-600: #059669;
  --submarine-700: #047857;
  --submarine-800: #065f46;
  --submarine-900: #064e3b;
  --emerald-50: #f0fdf4;
  --emerald-100: #dcfce7;
  --emerald-200: #bbf7d0;
  --emerald-300: #86efac;
  --emerald-400: #4ade80;
  --emerald-500: #22c55e;
  --emerald-600: #16a34a;
  --emerald-700: #15803d;
  --emerald-800: #166534;
  --emerald-900: #14532d;
  --chartreuse-50: #f7fee7;
  --chartreuse-100: #ecfccb;
  --chartreuse-200: #d9f99d;
  --chartreuse-300: #bef264;
  --chartreuse-400: #a3e635;
  --chartreuse-500: #84cc16;
  --chartreuse-600: #65a30d;
  --chartreuse-700: #4d7c0f;
  --chartreuse-800: #3f6212;
  --chartreuse-900: #365314;
  --saffron-50: #fefce8;
  --saffron-100: #fef9c3;
  --saffron-200: #fef08a;
  --saffron-300: #fde047;
  --saffron-400: #facc15;
  --saffron-500: #eab308;
  --saffron-600: #ca8a04;
  --saffron-700: #a16207;
  --saffron-800: #854d0e;
  --saffron-900: #713f12;
  --tangerine-50: #fffbeb;
  --tangerine-100: #fef3c7;
  --tangerine-200: #fde68a;
  --tangerine-300: #fcd34d;
  --tangerine-400: #fbbf24;
  --tangerine-500: #f59e0b;
  --tangerine-600: #d97706;
  --tangerine-700: #b45309;
  --tangerine-800: #92400e;
  --tangerine-900: #78350f;
  --pumpkin-50: #fff7ed;
  --pumpkin-100: #ffedd5;
  --pumpkin-200: #fed7aa;
  --pumpkin-300: #fdba74;
  --pumpkin-400: #fb923c;
  --pumpkin-500: #f97316;
  --pumpkin-600: #ea580c;
  --pumpkin-700: #c2410c;
  --pumpkin-800: #9a3412;
  --pumpkin-900: #7c2d12;
  --coral-50: #fef2f2;
  --coral-100: #fee2e2;
  --coral-200: #fecaca;
  --coral-300: #fca5a5;
  --coral-400: #f87171;
  --coral-500: #ef4444;
  --coral-600: #dc2626;
  --coral-700: #b91c1c;
  --coral-800: #991b1b;
  --coral-900: #7f1d1d;

  --gray-150: #f2f2f2;

  --primary: #f00751;
  --tertiary: #ff758c;
  --secondary: #ff7eb3;
  --success: var(--submarine-400);
  --warning: var(--saffron-300);
  --danger: var(--coral-500);
  --info: var(--azure-500);
  --light: var(--gray-100);
  --dark: var(--gray-900);
  --black: hsl(252, 30%, 10%);

  --text: var(--gray-800);
  --text-muted: var(--gray-500);
  --bg: var(--gray-100);
  --bg-content: white;
  --loader-bg: var(--gray-100);
  --sibebar-item-bg-hover: var(--gray-100);
  --bg-content-hover: var(--gray-100);

  --main-linear-gradient: linear-gradient(to right top, #fa7c36, #ff654c, #ff4f65, #ff3d7f, #f2359b);

  --main-radial-gradient: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );

  --max-w-content: 700px;
  --header-h: 70px;
  --navbar-mobile-h: 60px;

  --modal-z-index: 1000;
  --header-z-index: 100;
}

body {
  color: var(--text);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--gray-100);
    --text-muted: var(--gray-500);
    --bg: var(--gray-900);
    --bg-content: var(--gray-800);
    --loader-bg: var(--gray-900);
    --sibebar-item-bg-hover: var(--gray-900);
    --bg-content-hover: var(--gray-700);
    --light: var(--gray-900);
    --dark: var(--gray-100);
  }
}
